<mat-card>
  <mat-card-header class="header">
    <mat-card-title class="title">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userDetails.username"
          placeholder="Username"
          type="text"
          name="username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userDetails.password"
          type="password"
          placeholder="Password"
          name="password"
          required
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="logInUser()" color="primary">
      Login
    </button>
  </mat-card-actions>
</mat-card>
